<header class="row header">
	
	<div class='row quicks'>
		<button mat-raised-button (click)='menuQuickFiltersView = !menuQuickFiltersView' [ngClass]='{"active": menuQuickFiltersView}'>Quick Filters</button>
		<button mat-raised-button (click)='menuSearchView = !menuSearchView' [ngClass]='{"active": menuSearchView}'>Query Search</button>
		<button mat-raised-button (click)='menuLocationView = !menuLocationView' [ngClass]='{"active": menuLocationView}'>Locations</button>
		<button mat-raised-button (click)='menuPricingView = !menuPricingView' [ngClass]='{"active": menuPricingView}'>Price Ranges</button>
		<button mat-raised-button (click)='menuSortView = !menuSortView' [ngClass]='{"active": menuSortView}'>Sort by Cost</button>
		<button mat-raised-button (click)='menuDistanceView = !menuDistanceView' [ngClass]='{"active": menuDistanceView}'>Distance</button>
	</div>
	
	<div id="quick-filters" class='row' *ngIf="menuQuickFiltersView">
			<mat-divider ></mat-divider>
			<p>Filter products by strain names and type. More indept querying capable under search. <button class="btn-quick-all" mat-raised-button color="accent" (click)="sortByAll()">Show All</button></p> 
			<mat-divider></mat-divider>
			
			<div class="filter-row">
				<h2>Strain names</h2>
				<button *ngFor='let item of sortStrainMap' mat-button (click)="sort(item.name, 'strain')" class="quick-strain-sort" [ngClass]='{"active": item.active}'>{{item.name}} <span class="sort-count">({{item.count}})</span></button>
			</div>
			
			<mat-divider  ></mat-divider>
			
			<div class="filter-row">
				<h2>Types</h2>
				<button *ngFor='let item of sortTypeMap' mat-button (click)="sort(item.name, 'type')" class="quick-type-sort" [ngClass]='{"active": item.active}'>{{item.name}} <span class="sort-count">({{item.count}})</span></button>
			</div>
			
	</div>
	
	<div id="search" class='row' *ngIf="menuSearchView">
			<mat-form-field class="search-form-field">
				<div class="search-cont">
					<input matInput type="text" [(ngModel)]='search' (keyup)="doSearch($event)" placeholder="Enter keyword...">
					<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="search='';sortByAll()"><mat-icon>close</mat-icon></button>
					<!-- <button class="btn-search" mat-button (click)="doSearch($event)"><mat-icon>search</mat-icon></button> -->
				</div>
			</mat-form-field>
	</div>
	
	<div id="location" class='row' *ngIf="menuLocationView">
		<mat-form-field id="select-dispensary" appearance="fill">
			<mat-label>Location...</mat-label>
			<mat-select [formControl]="dispensary" multiple (selectionChange)="sortByDispensary($event)">
				<mat-option *ngFor="let dispensary of dispensaryList" [value]="dispensary.value">{{dispensary.name}}</mat-option>
			</mat-select>
		</mat-form-field>		
	</div>
	
	<div id="pricing" class='row col s12 m6 l4 xl4' *ngIf="menuPricingView">
		<div class="slider-cont">
			<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="soptions" (valueChange)="sortByCostLow($event)" (highValueChange)="sortByCostHigh($event)" (userChangeEnd)="sortByCost(e)"></ngx-slider>		
		</div>
	</div>
	
	<div id="sort" class='row col s12' *ngIf="menuSortView">
			<button class="btn-quick-all" mat-raised-button color="accent" (click)="sortByAll()">Show All <span class="sort-count">({{originalProducts.length}})</span></button>	
			<button mat-button class="quick-sales" mat-raised-button (click)="sort('Sales', '')" >Sales <span class="sort-count">({{saleItems.length}})</span></button>
			<div style="display:flex;">
				<span>Sort by price</span>
				<button mat-raised-button (click)='sortPrice("high")' color="accent" >High</button>	
				<button mat-raised-button (click)='sortPrice("low")' color="accent" >Low</button>	
				
			</div>
	</div>
	
	<div id="distance" class='row col s12' *ngIf="menuDistanceView">
		<mat-form-field class="search-form-field">
			<input matInput type="number" [(ngModel)]='postal' (keyup)="doZipSearch($event)" placeholder="Enter Zip Code">
			<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="postal='';sortByAll()"><mat-icon>close</mat-icon></button>
		</mat-form-field>	
		<div>
			<p>Enter zip code then choose the distance in which to include in your search.</p>	
			<mat-radio-group [(ngModel)]="range" (change)="getGeo()">
				<mat-radio-button value="1">1 mi</mat-radio-button>
				<mat-radio-button value="5" checked="true">5 mi</mat-radio-button>
				<mat-radio-button value="10">10 mi</mat-radio-button>
				<mat-radio-button value="15">15 mi</mat-radio-button>
				<mat-radio-button value="20">20 mi</mat-radio-button>
				<mat-radio-button value="25">25 mi</mat-radio-button>
				<mat-radio-button value="30">30 mi</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
</header>

<section class="row">
	<div class="col s12" style="display:flex;flex-wrap:wrap;">
		<div *ngFor="let dispensary of productFilters.distance">
			{{dispensary.name}} |
		</div><span>( {{this.productFilters.distance.length }})</span>
	</div>
	<div class="col s12">
		<mat-paginator *ngIf='!loading' [length]="productCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = handlePage($event)"> </mat-paginator>
	</div> 
</section>

<section class="row">
	<div id="loading" *ngIf='loading'><h1>Loading...</h1></div>
	<div class="mat-card col s12 m6 l4 xl3" *ngFor="let product of products">

		<div class="product" [style.background-image]="'url('+product.Image+')'">
			<h1 class="product-name">{{ product.Name }}</h1>
			<h4 *ngIf='product.apiRoot != "kaleafa"' class="product-type">{{ product.brandName }}</h4>
			<h4 *ngIf='product.apiRoot == "kaleafa"'class="product-type">{{ product.brandName }} / {{ product.type }} </h4>
			
			<div class="col s6 m6 l6">
				<h6>{{ product.DispensaryID | dispensary }}</h6>

				<!-- no sale -->
				<h2 *ngIf="product.recSpecialPrices[0] == null"><strong>${{ product.Prices[0] }}</strong></h2>
				<h3 class="sale-price" *ngIf="product.recSpecialPrices.length >= 1"><strong>Sale:</strong> ${{ product.recSpecialPrices[0] }}</h3>
				<h4 class="percentoff" *ngIf="product.recSpecialPrices.length >= 1"><span>Save:</span> {{ product.discount }}</h4>
				<!-- sale -->
				<h4 class="regular-price" *ngIf="product.recSpecialPrices[0] != null">Was: ${{ product.Prices[0] }}</h4>

				<div class="power">
					<h5 *ngIf="product.THCContent?.value">THC: <strong>{{ product.THCContent.value }}{{ product.THCContent.unit | unit }}</strong></h5>
					<h5 *ngIf="product.CBDContent?.value">CBD: <strong>{{ product.CBDContent.value }}{{ product.CBDContent.unit | unit }}</strong></h5>
				</div>
				<h5 class="cart-quantity" *ngIf="product.maxCartQuantity"><strong>{{ product.maxCartQuantity }}</strong> available</h5>
			</div>
			<!-- <div class="details-column col s6 m6 l6"></div> -->


		</div>
	</div>
</section>

<mat-paginator *ngIf='!loading' [length]="productCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = handlePage($event)">
</mat-paginator>
