.row  {
	margin-bottom:0 !important;
}
.product {
	height: 130px;
	padding: 1rem;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right bottom;
	.product-type {
		font-size:0.75rem;
		font-weight:normal;
	}
}

.mat-card {
	padding: 1rem !important;
	background: #e3e3e3;
}

.sale-price {
	color: #d00ea0;

	strong {
		font-size: 1rem;
		font-weight: normal;
		color: #222;
	}
}

.regular-price {
	color: #777;
	text-decoration: line-through;
	font-size: 0.76rem;
}

.power h5 {
	display: inline;
}

.percentoff {
	color: #a42873;
	font-weight: normal;
	font-size: 0.76rem;

	span {
		color: #222;
	}
}

.search-form-field {
}

.search-cont {
	display: flex;
	@media screen and (min-width: 576px) {
		input {
			width:125px;
		}
	}
	@media screen and (min-width: 768px) {
		input {
			width:350px;
		}
	}
}

.details-column {
	overflow: hidden;
	text-align: right;
}

.btn-search {
	position: relative;
	z-index: 2;
}

#select-dispensary {
	width: 300px;
	padding-top: 8px;
}

header {
	color: #fff !important;
	background-color: #4a3f5e;
	margin-bottom:0 !important;
	.search {
		display:flex;
	}
	.quicks {
		padding:12px;
		button {
			border: 1px solid #000;
			margin-right:12px;
			&.active {
				background-color: #375df2 !important;
				border: 1px solid #1400ff;
				color: #fff;
			}
		}
	}
	#quick-filters {
		// background-color: #c63f3f0f;
		padding:0 12px 12px 12px;
		font-size: 0.75rem;
		margin:0 !important;
		.filter-row {
			h2 {
				font-size:0.85rem;
			}
			// display: flex;
			// justify-content: left;
			// flex-wrap: wrap;			
		}
		button {
			border:1px solid #0000002b;
			margin:0 2px 2px 0;
			padding:0 4px !important;
			background-color: #6f3fc6 !important;
			&.active {
				background-color: #277703 !important;
			}
		}
		.btn-quick-all {
			background-color:#ffd740 !important;
			border:none;
		}
		.btn-quick-all {
			border:none;
		}
		.sort-count {
			font-size: 0.65rem;
			color: #e19696;			
		}
		.quick-sales {
			background-color: #9b15418f !important;
			border:1px solid #9b15418f;
		}
		mat-divider {
			margin:6px 0;
		}
	}
	#sort {
		padding: 0 12px 12px 12px !important;
		font-size: 0.75rem;
		margin: 0 !important;
		button {
			border: 1px solid #000;
			margin-right:12px;
			&.active {
				background-color: #375df2 !important;
				border: 1px solid #1400ff;
				color: #fff;
			}
		}	
		.sort-count {
			font-size: 0.65rem;
			color: #000;			
		}			
	}
	#search {
		padding: 0 12px 12px 12px !important;
		.mat-form-field-appearance-legacy .mat-form-field-label {
			top: 2em;
			left: 0.6em;
		}
		.mat-form-field-infix {
			width: 270px;
		}
		.search-cont {
			input {
				border:1px solid black;
				border-radius: 6px;
				padding:12px;
			}
		}
	}
}
#pricing {
  .slider-cont {
		.ngx-slider {
			.ngx-slider-bubble {
				color:#fff !important;
			}
		}
		padding:18px;
	}
}
img {
	height: 150px;
}

mat-card {
	height: 250px;
	background: #e3e3e3;
}

mat-card-content {
	margin: 1rem;
	background: #fff;
	border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.25rem;
}

h1 {
	font-size: 1rem;
	width: max-content;
	padding:0 1px;
	background-color: #fff;
}

h4 {
	font-weight: normal;
}

h5 {
	font-weight: normal;
}

h6 {
	font-weight: normal;
	color:#2e62a6;
}