<header class="row header">
	<div class='row quicks'>
		<button mat-raised-button (click)='menuQuickFiltersView = !menuQuickFiltersView' [ngClass]='{"active": menuQuickFiltersView}'><span class="material-icons">filter_list</span>Quick Filters</button>
		<button mat-raised-button (click)='menuSearchView = !menuSearchView' [ngClass]='{"active": menuSearchView}'><span class="material-icons">search</span> Search</button>
		<button mat-raised-button (click)='openLocationDialog()'><span class="material-icons">location_on</span>Locations</button>
		<button mat-raised-button (click)='menuDistanceView = !menuDistanceView' [ngClass]='{"active": menuDistanceView}'><span class="material-icons">my_location</span>Distance</button>
		<button mat-raised-button (click)='menuPricingView = !menuPricingView' [ngClass]='{"active": menuPricingView}'><span class="material-icons">attach_money</span>Prices</button>
		<button mat-raised-button (click)='openAboutDialog()'><span class="material-icons">help_outline</span>About</button>
	</div>
	
	
	<div id="quick-filters" class='row' *ngIf="menuQuickFiltersView">
			<mat-divider ></mat-divider>
			<div style="display:flex;">
				<button class="btn-quick-all" mat-raised-button color="accent" (click)="sortByAll()">Show All</button>	
				<button mat-button class="quick-sales" mat-raised-button (click)="quickSort('sales')" >SALES</button>
				<div style="display:flex;margin-left:12px;align-items:center;"><h3>Sort price:</h3>
					<button class="btn-price" mat-raised-button (click)='sortPrice("High")' color="primary" [ngClass]='{"active": productFilters.priceSort == "High"}'><span class="material-icons"> arrow_upward </span>High</button>	
					<button class="btn-price" mat-raised-button (click)='sortPrice("Low")' color="primary" [ngClass]='{"active": productFilters.priceSort == "Low"}'><span class="material-icons"> arrow_downward </span>Low</button>	
				</div>			 
			</div>			 
			<mat-divider></mat-divider>
			
			<div class="filter-row">
				<h2>Strain names</h2>
				<button *ngFor='let item of sortStrainMap' mat-button (click)="quickSort(item.name)" class="quick-strain-sort" [ngClass]='{"active": item.active}'>{{item.name}} <span class="sort-count">({{item.count}})</span></button>
			</div>
			
			<mat-divider  ></mat-divider>
			
			<div class="filter-row">
				<h2>Types</h2>
				<button *ngFor='let item of sortTypeMap' mat-button (click)="quickSort(item.name)" class="quick-type-sort" [ngClass]='{"active": item.active}'>{{item.name}} <span class="sort-count">({{item.count}})</span></button>
			</div>
			
	</div>
	
	<div id="search" class='row' *ngIf="menuSearchView">
		<mat-divider ></mat-divider>
		<mat-form-field class="search-form-field">
			<div class="search-cont">
				<input matInput type="text" [(ngModel)]='productFilters.query' (keyup)="doSearch($event)" placeholder="Enter keyword...">
				<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="productFilters.query='';sortByAll()"><mat-icon>close</mat-icon></button>
			</div>
		</mat-form-field>
	</div>
	
	<div id="pricing" class='row col s12 m6 l4 xl4' *ngIf="menuPricingView">
		<mat-divider ></mat-divider>
		<div class="slider-cont">
			<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="soptions" (valueChange)="sortByCostLow($event)" (highValueChange)="sortByCostHigh($event)" (userChangeEnd)="processSorting('pricerange')"></ngx-slider>		
		</div>
	</div>
	
	<div id="distance" class='row col s12' *ngIf="menuDistanceView">
		<mat-divider ></mat-divider>		
		<mat-form-field class="search-form-field">
			<input matInput type="number" [(ngModel)]='postal' (keyup)="doZipSearch($event)" placeholder="Enter Zip Code">
			<!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="postal='';sortByAll()"><mat-icon>close</mat-icon></button> -->
		</mat-form-field>	
		<div>
			<mat-radio-group [(ngModel)]="productFilters.range" (change)="getGeo()">
				<mat-radio-button value="1">1 mi</mat-radio-button>
				<mat-radio-button value="3">3 mi</mat-radio-button>
				<mat-radio-button value="5">5 mi</mat-radio-button>
				<mat-radio-button value="10">10 mi</mat-radio-button>
				<mat-radio-button value="15">15 mi</mat-radio-button>
				<mat-radio-button value="20">20 mi</mat-radio-button>
				<mat-radio-button value="25">25 mi</mat-radio-button>
				<mat-radio-button value="30">30 mi</mat-radio-button>
			</mat-radio-group>
		</div>
		<button mat-button color='accent' (click)="openDispensaryDialog()">Show Dispensaries in Range</button>
	</div>
</header>

<section id="utility-bar" class="row col s12">
		<!-- CHIPS -->
	<div id="chips" class="col s12">
		<mat-chip-list>
			<div>
				<mat-chip *ngIf="!productFilters.locations.length > 0" [selectable]="selectable" [removable]="removable" (click)='menuDistanceView = !menuDistanceView'>Showing ({{productFilters.distance.length}}) dispensaries
				</mat-chip>
				<mat-chip *ngIf="productFilters.priceSort"  [selectable]="selectable" [removable]="removable" (click)="sortPrice('toggle')">{{ productFilters.priceSort }}est $$ 1st </mat-chip>
				<mat-chip *ngIf="productFilters.query" [selectable]="selectable" [removable]="removable">{{productFilters.query}}
					<mat-icon matChipRemove (click)="removeSortChip('query')">cancel</mat-icon>
				</mat-chip>
				<mat-chip  [selectable]="selectable" [removable]="removable" (click)='menuPricingView = !menuPricingView'>${{productFilters.pricerange[0]}}-{{productFilters.pricerange[1]}}
					<mat-icon matChipRemove (click)="removeSortChip('pricerange')" *ngIf="productFilters.pricerange[0] != 1 || productFilters.pricerange[1] != 120">cancel</mat-icon>
				</mat-chip>
				<mat-chip *ngIf="!productFilters.locations.length > 0" [selectable]="selectable" [removable]="removable" (click)='menuDistanceView = !menuDistanceView'>{{productFilters.range}} mile radius from {{ postal }}
					<mat-icon matChipRemove (click)="removeSortChip('distance')">cancel</mat-icon>
				</mat-chip>
				<mat-chip *ngIf="productFilters.locations.length > 0"  [selectable]="selectable" [removable]="removable">Location Filters <span> ({{productFilters.locations.length}}) </span>
					<mat-icon matChipRemove (click)="removeSortChip('locations')">cancel</mat-icon>
				</mat-chip>
				<mat-chip *ngIf="productFilters.sales.length > 0"  [selectable]="selectable" [removable]="removable">Showing SALES
					<mat-icon matChipRemove (click)="removeSortChip('sales')">cancel</mat-icon>
				</mat-chip>
			</div>
		</mat-chip-list>	
	</div>
	<!-- PAGINATION		 -->
	<div class="col s12">
		<mat-paginator *ngIf='!loading' [length]="productCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = handlePage($event)"> </mat-paginator>
	</div> 
</section>

<section class="row">
	<div id="loading" *ngIf='loading'><h1>Loading...</h1></div>
	<div class="mat-card col s12 m6 l4 xl3" *ngFor="let product of products">

		<div class="product" [style.background-image]="'url('+product.image+')'">
			<h1 class="product-name">{{ product.name }}</h1>
			<h4 *ngIf='product.apiRoot != "k1"' class="product-type">{{ product.brand }}</h4>
			<h4 *ngIf='product.apiRoot == "k1"'class="product-type">{{ product.brand }} / {{ product.type }} </h4>
			
			<div class="col s6 m6 l6">
				<h6>{{ product.dname }}</h6>

				<!-- no sale -->
				<h2 *ngIf="!product.discountPrice"><strong>${{ product.price }}</strong></h2>
				<h3 class="sale-price" *ngIf="product.discountPrice"><strong>Sale:</strong> ${{ product.discountPrice }}</h3>
				<h4 class="percentoff" *ngIf="product.discountPrice"><span>Save:</span> {{ product.discount }}</h4>
				<!-- sale -->
				<h4 class="regular-price" *ngIf="product.discountPrice">Was: ${{ product.price }}</h4>

				<div class="power">
					<h5 *ngIf="product.THCContent?.range">THC: <strong>{{ product.THCContent.range }}{{ product.THCContent.unit | unit }}</strong></h5>
					<h5 *ngIf="product.CBDContent?.range">CBD: <strong>{{ product.CBDContent.range }}{{ product.CBDContent.unit | unit }}</strong></h5>
				</div>
				<h5 class="cart-quantity" *ngIf="product.maxCartQuantity"><strong>{{ product.maxCartQuantity }}</strong> available</h5>
			</div>
			<!-- <div class="details-column col s6 m6 l6"></div> -->


		</div>
	</div>
</section>

<mat-paginator *ngIf='!loading' [length]="productCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = handlePage($event)">
</mat-paginator>
