<header class="row header">


	<div id="quick-filters" class="col s12 m12 l6 xl6">
		<button class="btn-quick-all" mat-raised-button color="accent" (click)="sortByAll()">All</button>		
		<button class="btn-quick-all" mat-raised-button color="accent" (click)="distance(1)">D-1</button>		
		<button class="btn-quick-all" mat-raised-button color="accent" (click)="distance(2)">D-2</button>		
		<button class="btn-quick-all" mat-raised-button color="accent" (click)="distance(3)">D-3</button>		
		<!-- <button class="main-btn" mat-raised-button color="warn" (click)="sortBySale()">Sales <span class="sort-count">({{this.saleItems.length}})</span></button> -->
		<button *ngFor='let item of sortMap' mat-button (click)="sort(item.name)" [ngClass]='{"quick-sales": item.type == "quick-sales", "quick-sort": item.type == "quick-sort", "active": item.active}'>{{item.name}} <span class="sort-count">({{item.count}})</span></button>
	</div>
	
	<div class="search col s12 m12 l6 xl3">
		<div>
			<mat-form-field class="search-form-field">
				<!-- <mat-label>Search</mat-label> -->
				<div class="search-cont">
					<input matInput type="text" [(ngModel)]='search' (keyup)="doSearch($event)">
					<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="search='';sortByAll()"><mat-icon>close</mat-icon></button>
					<button class="btn-search" mat-button (click)="doSearch($event)"><mat-icon>search</mat-icon></button>
				</div>
			</mat-form-field>
		</div>

	</div>

	<div class="col s12 m12 l6 xl3">
		<mat-form-field id="select-dispensary" appearance="fill">
			<mat-label>Location...</mat-label>
			<mat-select [formControl]="dispensary" multiple (selectionChange)="sortByDispensary($event)">
				<mat-option *ngFor="let dispensary of dispensaryList" [value]="dispensary.value">{{dispensary.name}}</mat-option>
			</mat-select>
		</mat-form-field>

	</div>



</header>

<section class="row">
	<!-- <div class="col s1 m1 l1 xl1">
		<mat-chip-list>
			<div *ngFor='let item of sortMap'>
				<mat-chip [selectable]="selectable" [removable]="removable" *ngIf='item.active == true'>{{item.name}}
					<mat-icon matChipRemove (click)="removeSortChip(item.name)">cancel</mat-icon>
				</mat-chip>
			</div>
		</mat-chip-list>
	</div> -->
	<div class="col s12 m2 l2 xl2">
		<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="soptions"></ngx-slider>
	</div>
	<div class="col s12 m10 lm10 xl10">
		<mat-paginator *ngIf='!loading' [length]="productCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = handlePage($event)"> </mat-paginator>
	</div>
</section>

<section class="row">
	<div id="loading" *ngIf='loading'><h1>Loading...</h1></div>
	<div class="mat-card col s12 m6 l4 xl3" *ngFor="let product of products">

		<div class="product" [style.background-image]="'url('+product.Image+')'">
			<h1 *ngIf='product.apiRoot != "kaleafa"' class="product-name">{{ product.Name }}</h1>
			<!-- <h4 *ngIf='product.brand'>{{ product.brand.name }}</h4> -->
			<h4 class="product-type" *ngIf='product.brandName'>{{ product.brandName }}</h4>
			<h1 *ngIf='product.apiRoot == "kaleafa"' class="product-name">{{ product.Name }} <span class="product-type"> - {{ product.type }}/{{ product.brand }} </span> </h1>
			
			<div class="col s6 m6 l6">
				<h6>{{ product.DispensaryID | dispensary }}</h6>

				<!-- no sale -->
				<h2 *ngIf="product.recSpecialPrices[0] == null"><strong>${{ product.Prices[0] }}</strong></h2>
				<h3 class="sale-price" *ngIf="product.recSpecialPrices.length >= 1"><strong>Sale:</strong> ${{ product.recSpecialPrices[0] }}</h3>
				<h4 class="percentoff" *ngIf="product.recSpecialPrices.length >= 1"><span>Save:</span> {{ product.discount }}</h4>
				<!-- sale -->
				<h4 class="regular-price" *ngIf="product.recSpecialPrices[0] != null">Was: ${{ product.Prices[0] }}</h4>

				<div class="power">
					<h5 *ngIf="product.THCContent?.value">THC: <strong>{{ product.THCContent.value }}{{ product.THCContent.unit | unit }}</strong></h5>
					<h5 *ngIf="product.CBDContent?.value">CBD: <strong>{{ product.CBDContent.value }}{{ product.CBDContent.unit | unit }}</strong></h5>
				</div>
				<h5 class="cart-quantity" *ngIf="product.maxCartQuantity"><strong>{{ product.maxCartQuantity }}</strong> available</h5>
			</div>
			<!-- <div class="details-column col s6 m6 l6"></div> -->


		</div>
	</div>
</section>

<mat-paginator *ngIf='!loading' [length]="productCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = handlePage($event)">
</mat-paginator>
