<p>Search for cannabis concentrate products in Oregon and lower Washington. Currently displaying <strong>{{ data[0] }}</strong> products from <strong>{{ data[1] }} dispensaries.</strong> Products lists are updated multiple times per day.</p>
<h1>How to use</h1>
<p>Enter your zipcode under Distance to change your search radius. Or select which dispensaries you want to search under Location. You can filter the list by items on sale, price range, distance, location, cost order and custom keywords. </p>
<p>More dispensaries to come. Got 100+ I still need to aggregate.</p>
<h1>Privacy</h1>
<p>Your privacy is the ultimate goal. No tracking cookies or analytics are used at Dabtasm. Absolutely no data tracking, ever. </p>