$fontSize: fontBase(4);

$font-scale: (
  xs: $fontSize - fontBase(2),
  sm: $fontSize - fontBase(),
  md: $fontSize,
  lg: $fontSize + fontBase(),
  xl: $fontSize + fontBase(2)
);

// Type
.md-text-mute {
  color: $muted-text-color;
}


// Sizes

.md-text-xs {
  font-size: map-get($map: $font-scale, $key: 'xs');
}

.md-text-sm {
  font-size: map-get($map: $font-scale, $key: 'sm');
}

.md-text-md {
  font-size: map-get($map: $font-scale, $key: 'md');
}

.md-text-lg {
  font-size: map-get($map: $font-scale, $key: 'lg');
}

.md-text-xl {
  font-size: map-get($map: $font-scale, $key: 'xl');
}
