<section>
	<div>
		<mat-form-field>
			<input matInput type="text" (keyup)="filterLocation($event.target.value)" placeholder="Search...">
		</mat-form-field>
	</div>
	<div>
	<mat-form-field id="select-dispensary" appearance="fill">
		<mat-label>Location...</mat-label>
		<mat-select [formControl]="dispensary" multiple (selectionChange)="sortByDispensary($event)">
			<mat-option *ngFor="let dispensary of dispensaryList" [value]="dispensary.value">{{dispensary.name}}</mat-option>
		</mat-select>
	</mat-form-field>	
	</div>
</section>
