@import "./custom/_material";
@import "./assets/styles/materialize";

html, body { height: 100%; padding:0; margin:0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.col { padding:0 !important;}
label {
	color:#fff !important;
}
.mat-paginator-container {
	justify-content: center !important;
	button {
		border: 1px solid #aeacb3;
	}
	.mat-paginator-navigation-previous {
		margin-right:5px;
	}
}